export VIRTUAL_ENV_DISABLE_PROMPT=1

venv=$(poetry run poetry env info -p | tail -1)
if [ x"$venv" == x"" ]; then
    poetry install
    venv=$(poetry run poetry env info -p | tail -1)
fi
if [ -n "$venv" ]; then
    venv=$(readlink -f "$venv")
    local_venv=$(readlink -f "./.venv")
    if [ "$venv" != "$local_venv" ]; then
	ln -sf "$venv" ./.venv
    fi
    source .venv/bin/deactivate 2>/dev/null
    source .venv/bin/activate
fi
unset venv local_venv
